body {
    font-family: sans-serif;
}


header{
    background-color: rgb(119, 119, 158);
}


h1{
    color: firebrick;
    text-align: center;  
}

footer p{
    border: 2px solid steelblue;
}

nav{
    background-color: green;
    border: 2px green;
}

.towars{
    border-radius: 10px;
    border: 2px solid black;
}



nav a{
    text-decoration: none;
    color: white;
    padding: 8px;
    margin: 10px;
}
